body {
    background: white;
    color: #222222;
    font-size: 14px;
    margin: 0px;
}

.nav-wrapper {
    /* display: flex;
    flex-direction: column;
    max-width: 160px; */
}

.card-profile {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
}

.dotted-blue {
    border: 1px dotted blue;
}

.img-profile {
    width: 128px;
    margin-right: 16px;
}

.bio {
    text-align: center;
}

ul {
    list-style-position: inside;
}

.div-google {
    margin-top: 100px;
}

.img-logo-google {
    display: block;
    width: 300px;
    margin: 0px auto 0px auto;
}

.input-search-google {
    display: block;
    width: 400px;
    line-height: 24px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 30px 10px 30px;
    margin: 24px auto 0 auto;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    background: #dfe1e5;
    border: 1px solid #cfd9de;
    border-radius: 8px;
    margin: 0 8px;
    padding: 16px;
}

.card-img {
    width: 300px;
}

.card-btn {
    font-weight: bold;
    border: 1px solid #cfd9de;
    border-radius: 8px;
    background-color: white;
    padding: 8px 16px 8px 16px;
}

.btn-google-container {
    display: flex;
    justify-content: center;
    margin: 18px auto 80px auto;
}

.btn-google {
    height: 32px;
    background-color: #dfe1e5;
    border: 1px solid #cfd9de;
    border-radius: 8px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
}

.p-privacy {
    display: block;
    width: fit-content;
    margin: 0 auto;
}